/* ====== Mobile Styles ====== */

#messages {
  font-size: 1.2rem;
  background-color: rgba(19, 181, 105, 0.18);
  display: flex;
  height: 80%;
}

#messageBox {
  background-color: rgba(19, 181, 105, 0.185);
  padding: 30px;
  border: 1px solid #48ff82;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
}

input,
textarea {
  width: 100%;
  max-width: 450px;
  padding: 5px;

  border: 2px solid #48ff8200;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
}

input:hover,
textarea:hover {
  outline: none;
  border-color: #48ff82;
  box-shadow: 0 0 5px rgba(72, 255, 130, 0.5);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
button {
  background-color: rgba(119, 210, 142, 0.18);
  color: #48ff82;
  border: none;
  padding: 12px;
  border: #48ff82 1px solid;
  border-radius: 6px;
  cursor: pointer;
  width: 60%;
}

a {
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  color: #48ff82;
}
body {
  background-color: rgba(19, 0, 42, 0.804);
  color: #e5deff;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
}

section {
  margin: 20px 0;
  padding: 2%;
}

#About,
#Skills,
#Projects,
#Experience,
#Connect {
  border: 1px solid #48ff82;
  text-align: center;
  background-color: rgba(19, 181, 105, 0.18);
  margin-top: 5px;
  border-radius: 1rem;
}
#About p {
  font-size: 1.2rem;
  line-height: 1.5;
}
h1 {
  color: #d9ffdb;
  font-style: oblique;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 800;
}

/* Experience Section Styles ---*/

#Experience ul {
  list-style-type: none;
  padding: 0;
  align-items: flex-start;
}

.job-date {
  margin-left: auto;
}

#Experience li {
  background-color: rgba(19, 181, 105, 0.18);
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #48ff82;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Gif Manipulation --*/
img {
  max-width: 100%;
  height: auto;
  border-radius: 8rem;
  border: 2px solid #48ff82;
}
.blockchain {
  display: block;
  margin: auto;
  max-width: 100%;
}
.console {
  display: block;
  margin: auto;
  max-width: 70%;
}
.githubLogo,
.linkedinLogo {
  width: 30px;
  height: 30px;
  margin: 10px;
  vertical-align: middle;
}
/*Connect Section Styles --*/
nav {
  background-color: rgba(19, 181, 105, 0.18);
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 1rem;
  flex-wrap: wrap;
}

nav a {
  border-radius: 1rem;
  color: #48ff82;
  text-decoration: none;
  background-color: rgba(46, 139, 86, 0.142);
  padding: 10px 20px;
  border: #48ff82 1px solid;
}
#Connect {
  background-color: rgba(19, 181, 105, 0.18);
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
#Connect a:hover,
#Connect a {
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: rgb(36, 255, 160);
}

#Skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
#Skills li {
  background-color: rgba(21, 198, 247, 0.18);
  padding: 10px 20px;
  border: 1px solid #0aabf5da;
  border-radius: 1rem;
}
/*===== Tablet Styles =====*/

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  #Experience li {
    font-size: 1.4rem;
    flex-direction: row;
  }
  nav {
    margin: 1.5rem;
    padding: 1rem;
  }
}

/*===== Desktop Styles =====*/
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    text-align: left;
  }
  #Experience li {
    font-size: 1.6rem;
    flex-direction: column;
  }
  nav {
    margin: 2rem;
    padding: 2rem;
  }
}
