/* ====== Mobile Styles ====== */

body {
  background-color: rgba(19, 0, 42, 0.804);
  color: #e5deff;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
}

section {
  margin: 20px;
  padding: 2%;
}

#About,
#Skills,
#Projects {
  text-align: center;
  background-color: rgba(19, 181, 105, 0.18);
  margin-top: 5px;
}

h1 {
  color: #d9ffdb;
  font-style: oblique;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 800;
}

h2 {
  background-color: rgba(19, 181, 105, 0.18);
  padding: 10px;
  border-radius: 8rem;
  border: 1px solid #48ff82;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Experience Section Styles ---*/

#Experience ul {
  list-style-type: none;
  padding: 0;
  align-items: flex-start;
}

.job-date {
  margin-left: auto;
}

#Experience li {
  background-color: rgba(19, 181, 105, 0.18);
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #48ff82;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Gif Manipulation --*/
img {
  max-width: 100%;
  height: auto;
  border-radius: 8rem;
  border: 2px solid #48ff82;
}
.blockchain {
  display: block;
  margin: auto;
  max-width: 100%;
}
.console {
  display: block;
  margin: auto;
  max-width: 70%;
}
.githubLogo,
.linkedinLogo {
  width: 30px;
  height: 30px;
  margin: 10px;
  vertical-align: middle;
}
/*Connect Section Styles --*/
#Connect {
  background-color: rgba(19, 181, 105, 0.18);
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
#Connect a:hover {
  flex-direction: row;
  align-items: center;
  text-decoration: underline;
  color: blue;
}
nav {
  background-color: rgba(19, 181, 105, 0.18);
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 1rem;
}

nav a {
  color: #48ff82;
  text-decoration: none;
}

/*===== Tablet Styles =====*/

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  #Experience li {
    font-size: 1.4rem;
    flex-direction: row;
  }
  nav {
    margin: 1.5rem;
    padding: 1rem;
  }
}

/*===== Desktop Styles =====*/
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
    text-align: left;
  }
  #Experience li {
    font-size: 1.6rem;
    flex-direction: column;
  }
  nav {
    margin: 2rem;
    padding: 2rem;
  }
}
